KINDE_CLIENT_ID=AddKindeClientID
KINDE_CLIENT_SECRET=AddKindeClientSecret
KINDE_ISSUER_URL=AddKindeIssuerURL
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard